
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #131e48;
}
.StickyHeader header{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
}
.container{
    max-width: 1300px;
}
a {
  color: inherit;
  text-decoration: none !important;
  transition: 0.4s !important;
}
a:hover{
    color: #131e48;
}

* {
  box-sizing: border-box;
}
header{
    position: relative;
    z-index: 9;
    background-color: #fff;
}
.LoadingT1{
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}
.HeaderFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu1{
    width: 30px;
    height: 30px;
    background-image: url(../public/menu.png);
    background-size: 100% 100%;
}
.MenuClick{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.HeaderItem a{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 140px;
    height: 60px;
    color: #131e48;
    position: relative;
}
.HeaderItem a.link1.active::after ,
.HeaderItem a.link1:hover::after{
    content: "";
    width: 40%;
    height: 3px;
    background-color: #131e48;
    position: absolute;
    left: 30%;
    bottom: 0;
}
.HeaderItem a.link1.active ,
.HeaderItem a.link1:hover{
    color: #131e48;
    font-weight: 600;
}
.HeroLogo{
    width: 100%;
    position: relative;
    
}
.HeaderItem.LogoLink a{
    align-items: baseline;
    padding: 0px 40px;
}
.SliderImage , .SliderItem{
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
}
.SliderImage img{
  object-fit: cover;
}
.fullWidth {
  width: 100%;
}
.layer1{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(29,29,27,.3);
  z-index: 1;
}
.layer2{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.HbT1{
  font-size: 55px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
}
.HbT2{
  font-size: 20px;
  margin-bottom: 35px;
}
.sliderContent{
  max-width: 550px;
  margin: 0 auto;
}
.BannerBtns a {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 2px;
  transition: .4s;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 25px;
  background-color: #131e48;
  min-width: 195px;
  font-weight: 400;
  position: relative;
  padding: 10px 35px 10px 15px;
}
.BannerBtns a::after {
  content: "";
  height: 22px;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  background-image: url(../public/rightarrow.png);
}
.BannerBtns a:hover{
  background-color: #643111;
  border-color: #fff;
}
img{
  background-color: #131e48;
}
.HeroBanner{
    overflow-x: hidden;
    margin-bottom: -5px;
}
.slider1 .slick-dots li,
.slider1 .slick-dots li button{
    width: 10px;
    height: 10px;
}
.slider1 .slick-dots li button{
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
}
.slider1 .slick-dots li.slick-active button,
.slider1 .slick-dots li button:hover{
    opacity: 1;
    width: 15px;
    height: 15px;
}
.slider1 .slick-dots li button::before {

    content: none;
}
.slider1 .slick-dots{
    bottom: 30px;
}


.OverLay1 {
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(9px);
    background: #0000004f;
    z-index: 99;
    cursor: pointer;
  }
  
  .SideNav {
    position: fixed;
    background-color: #efefef;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 500px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    padding: 40px;
    display: flex;
    align-items: center;
  
  }
  
  body.PanelActivated {
    overflow: hidden;
  }
  
  .SideNavHeader {
    padding: 25px;
    color: #242424;
    font-weight: 600;
    font-size: 27px;
    line-height: 1;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  .MainBannerVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: -10px;
  }
  
  .CloseBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image: url(../public/icons/close.png);
    position: absolute;
    top: 0px;
    right: 25px;
    cursor: pointer;
  }
  
  .SideNavMiddle {
    padding: 0px 25px;
  }
  
  .SideNavMiddle a {
    display: block;
    color: #212121;
    font-size: 22px;
    line-height: 1;
    padding: 8px 0px;
    transition: 0.5s;
    position: relative;
    border-bottom: 2px solid transparent;
  }
  
  .hover1:hover {
    color: #131e48;
  }
  

  
  .SideNavFooter {
    padding: 25px;
    color: #131e48;
    padding-bottom: 0;
  }
  
  .T3 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  
  .T4 {
    margin-top: 10px;
    color: #212121;
    margin-bottom: 15px;
  }
  
  .HdrRow1 {
    margin: 0 -5px;
  }
  
  .HdrRow1 .col-md-4 {
    padding: 0 5px;
  }
  
  .SocialItem .Icon {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    display: inline-block;
  }
  
  .SocialItem .Icon.instagram {
    background-image: url(../public/icons/winstagram.png);
  }
  
  .SocialItem .Icon.facebook {
    background-image: url(../public/icons/wfacebook.png);
  }
  
  /* .SocialItem .Icon.youtube {
    background-image: url(../public/icons/wyoutube.png);
  } */
  
  .SocialItem .Icon.whatsapp {
    background-image: url(../public/icons/wwhatsapp.png);
  }
  
  /* .SocialItem .Icon.twitter {
    background-image: url(../public/icons/wtwitter.png);
  } */
  
  .socialItems {
    display: flex;
  }
  
  .socialItems .SocialItem {
    margin-right: 20px;
    border: 2px solid #131e48;
    padding: 10px;
    border-radius: 50%;
    background-color: #131e48;
  }
  
  .socialItems .SocialItem:hover {
    background-color: #1d1d1b;
  }
  
  .ScrollPart {
    overflow-y: scroll;
    max-height: 100%;
  }
  .SideNavMiddle a:hover{
    color: #643111;
  }
  .SideNavMiddle a.active{
    color: #643111 !important;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid #643111;
  }
  .loadingMainDiv {
    background-color: #131e48;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
  
  .LoadingContent {
    max-width: 300px;
    text-align: center;
  }
  .pd-common{
    padding: 60px 0px;
  }
  .bg1{
    background-color: #003554;
    background-image: url(../public/bg1.png);
  }
  .bg2{
    background-color: #131e48;
  }

  .color-fff{
    color: #fff;
  }
  .ft1{
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .ft2{
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .PdLft40{
    padding-left: 30px;
  }
  .HeaderBox{
    max-width: 800px;
    margin: 0 auto;
  }
  .HeaderBox .HdrT1{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .HeaderBox .HdrT2{
    margin-bottom: 45px;
    line-height: 1.5;
  }

  .MenuItem{
    position: relative;
  }
  .MenuItem::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    left: 0;
    top: 0;
  }
  .MenuItemDetails{
    padding: 15px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
  }
  .MenuItemTitle{
    font-size: 33px;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .MenuItemLink {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #131e48;
    font-weight: 400;
    position: relative;
    padding: 10px 35px 10px 15px;
    font-size: 13px;
    line-height: 1;
  }
  .MenuItemLink::after {
    content: "";
    height: 18px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 13px;
    background-image: url(../public/rightarrow.png);
  }
  .MenuItemLink:hover{
    background-color: #643111;
    color: #fff;
    border-color: #fff;
  }

  .MenuSlider .slick-next, .MenuSlider .slick-prev {
    width: 50px;
    height: 50px;
    z-index: 5;
    background: #fff;
    border-radius: 50%;
    display: none !important;
    margin-top: -25px;
  }
  .MenuSlider:hover .slick-next, 
  .MenuSlider:hover .slick-prev{
    display: inline-block !important;
  }
  .MenuSlider .slick-next::before, 
  .MenuSlider .slick-prev::before {
    content: "";
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    display: inline-block;
    opacity: 1;
  }
  .MenuSlider .slick-next::before{
    background-image: url(../public/btn-next.png);
  }
  .MenuSlider .slick-prev::before{
    background-image: url(../public/btn-back.png);
  }
  .MenuSlider .slick-dots {
    position: relative;
    bottom: auto;
    text-align: right;
    margin-top: 40px;
    margin-bottom: -20px;
  }
  .MenuSlider .slick-dots li button::before{
    content: none;
  }
  .MenuSlider .slick-dots li,
  .MenuSlider .slick-dots li button {
    height: auto;
    width: 40px;
  }
  .MenuSlider .slick-dots li button{
    background-color: #fff;
    height: 3px;
    padding: 0;
    opacity: 0.5;
  }
  .MenuSlider .slick-dots li.slick-active button{
opacity: 1;
  }
  .MenuSlider .slick-slide .SliderMenuItem{
    padding-left: 15px;
    position: relative;
  }
  .MenuSlider .slick-slide:first-child .SliderMenuItem{
    padding-left: 0;
  }

  .ExploreMoreBtn {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #643111;
    min-width: 195px;
    font-weight: 400;
    position: relative;
    padding: 10px 35px 10px 15px;
    margin-top: -40px;
  }
  .ExploreMoreBtn::after {
    content: "";
    height: 22px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    background-image: url(../public/rightarrow.png);
  }
  .ExploreMoreBtn:hover{
    background-color: #643111;
    color: #fff;
    border-color: #fff;
  }
  .ProductGridWrap .ExploreMoreBtn{
    margin-top: 10px;
  }
  .ProductGrid{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .ProductGrid::after{
    content: "";
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .ProductGridBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    z-index: 2;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 18px;
  }
  .ProductGridTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    z-index: 2;
  }
  .LikeBtn{
    width: 30px;
    height: 26px;
    background-size: 100% 100%;
    background-image: url(../public/like.png);
    cursor: pointer;
    margin-left: auto;
  }
  .ReviewRow{
    display: flex;
  }
  .ReviewColumn{
    width: 20px;
    height: 21px;
    background-size: 100% 100%;
    background-image: url(../public/whitereview.png);
    margin-right: 7px;
  }
  .ReviewColumn.gold{
background-image: url(../public/goldenreview.png);
  }