
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #1c2b60;
  letter-spacing: 1.2px;
}
.StickyHeader header{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,.17);
}
.container{
    max-width: 1300px;
}
a {
  color: inherit;
  text-decoration: none !important;
  transition: 0.4s !important;
}
a:hover{
    color: #1c2b60;
}

* {
  box-sizing: border-box;
}
.font-arabic{
  font-family: 'Cairo', sans-serif;
}
.HeaderItem.font-arabic{
  font-weight: 500;
  padding-right: 25px;
  position: relative;
}
.HeaderItem.font-arabic a{
  min-width: 80px;
}
.HeaderItem.font-arabic::after{
  content: "";
  width: 21px;
  height: 13px;
  background-size: 100% 100%;
  background-image: url(../public/uae.png);
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -5px;
}
header{
    position: relative;
    z-index: 9;
    background-color: #fff;
}
.SubNaBox{
  position: absolute;
  left: 0;
  top: 99%;
  background-color: #fff;
  min-width: 220px;
  display: none;
}
.HeaderItem .SubNaBox a{
  min-width: 100%;
  text-align: left;
  height: auto;
  padding: 15px 15px;
  font-size: 15px;
  border-bottom: 1px solid #e4e4e4;
  display: block;
}
.HeaderItem:hover .SubNaBox{
  display: block;
}
.HeaderItem .SubNaBox a::after{
  content: none !important;
}
.LoadingT1{
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}
.HeaderFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu1{
    width: 30px;
    height: 30px;
    background-image: url(../public/menu.png);
    background-size: 100% 100%;
}
.MenuClick{
    position: absolute;
    right: 0;
    cursor: pointer;
}
.HeaderItem{
  position: relative;
}
.HeaderItem a{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    height: 60px;
    color: #1c2b60;
    position: relative;
}
.HeaderItem a.link1.active::after ,
.HeaderItem a.link1:hover::after{
    content: "";
    width: 40%;
    height: 3px;
    background-color: #1c2b60;
    position: absolute;
    left: 30%;
    bottom: 0;
}
.HeaderItem a.link1.active ,
.HeaderItem a.link1:hover{
    color: #1c2b60;
    font-weight: 600;
}
.HeroLogo{
    width: 100%;
    position: relative;
    max-width: 110px;
}
.HeaderItem.LogoLink a{
    align-items: baseline;
    padding: 0px 40px;
}
.SliderImage , .SliderItem{
  height: calc(100vh - 60px);
  position: relative;
  overflow: hidden;
}
.SliderImage img{
  object-fit: cover;
}
.fullWidth {
  width: 100%;
}
.layer1{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(29,29,27,.3);
  z-index: 1;
}
.layer2{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.HbT1{
  font-size: 55px;
  margin-bottom: 15px;
  font-weight: 600;
  line-height: 1.2;
}
.HbT2{
  font-size: 20px;
  margin-bottom: 35px;
}
.sliderContent{
  max-width: 550px;
  margin: 0 auto;
}
.BannerBtns a {
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 2px;
  transition: .4s;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 25px;
  background-color: #1c2b60;
  min-width: 195px;
  font-weight: 400;
  position: relative;
  padding: 10px 35px 10px 15px;
}
.BannerBtns a::after {
  content: "";
  height: 22px;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 20px;
  background-image: url(../public/rightarrow.png);
}
.BannerBtns a:hover{
  background-color: #bf9b5f;
  border-color: #fff;
}
img{
  background-color: #1c2b60;
}
.HeroBanner{
    overflow-x: hidden;
    margin-bottom: -5px;
}
.slider1 .slick-dots li,
.slider1 .slick-dots li button{
    width: 10px;
    height: 10px;
}
.slider1 .slick-dots li button{
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
}
.slider1 .slick-dots li.slick-active button,
.slider1 .slick-dots li button:hover{
    opacity: 1;
    width: 15px;
    height: 15px;
}
.slider1 .slick-dots li button::before {

    content: none;
}
.slider1 .slick-dots{
    bottom: 30px;
}


.OverLay1 {
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(9px);
    background: #0000004f;
    z-index: 99;
    cursor: pointer;
  }
  
  .SideNav {
    position: fixed;
    background-color: #efefef;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 500px;
    padding: 25px;
    display: flex;
    align-items: center;
  
  }
  
  body.PanelActivated {
    overflow: hidden;
  }
  
  .SideNavHeader {
    padding: 25px;
    color: #242424;
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    position: relative;
    padding-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  .MainBannerVideo{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: -10px;
  }
  
  .CloseBtn {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-image: url(../public/icons/close.png);
    position: absolute;
    top: 0px;
    right: 25px;
    cursor: pointer;
  }
  
  .SideNavMiddle {
    padding: 0px 25px;
  }
  
  .SideNavMiddle a {
    display: block;
    color: #212121;
    font-size: 20px;
    line-height: 1;
    padding: 8px 0px;
    transition: 0.5s;
    position: relative;
    border-bottom: 2px solid transparent;
  }
  
  .hover1:hover {
    color: #1c2b60;
  }
  

  
  .SideNavFooter {
    padding: 25px;
    color: #1c2b60;
    padding-bottom: 0;
  }
  
  .T3 {
    font-size: 27px;
    margin-bottom: 10px;
  }
  
  .T4 {
    margin-top: 10px;
    color: #212121;
    margin-bottom: 15px;
  }
  
  .HdrRow1 {
    margin: 0 -5px;
  }
  
  .HdrRow1 .col-md-4 {
    padding: 0 5px;
  }
  
  .SocialItem .Icon {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    display: inline-block;
  }
  
  .SocialItem .Icon.instagram {
    background-image: url(../public/icons/winstagram.png);
  }
  
  .SocialItem .Icon.facebook {
    background-image: url(../public/icons/wfacebook.png);
  }
  
  /* .SocialItem .Icon.youtube {
    background-image: url(../public/icons/wyoutube.png);
  } */
  
  .SocialItem .Icon.whatsapp {
    background-image: url(../public/icons/wwhatsapp.png);
  }
  
  /* .SocialItem .Icon.twitter {
    background-image: url(../public/icons/wtwitter.png);
  } */
  
  .socialItems {
    display: flex;
  }
  
  .socialItems .SocialItem {
    margin-right: 20px;
    border: 2px solid #1c2b60;
    padding: 10px;
    border-radius: 50%;
    background-color: #1c2b60;
  }
  
  .socialItems .SocialItem:hover {
    background-color: #1d1d1b;
  }
  
  .ScrollPart {
    overflow-y: scroll;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  .SideNavMiddle a:hover{
    color: #bf9b5f;
  }
  .SideNavMiddle a.active{
    color: #bf9b5f !important;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid #bf9b5f;
  }
  .loadingMainDiv {
    background-color: #1c2b60;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
  
  .LoadingContent {
    max-width: 300px;
    text-align: center;
  }
  .pd-common{
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .bg1{
    background-color: #003554;
    background-image: url(../public/bg1.png);
    background-repeat: repeat;
  }
  .bg2{
    background-color: #1c2b60;
    background-image: url(../public/bg1.png);
    background-repeat: repeat;
  }
  .bg3{
    background-color: #F9F7F2;
    
  }

  .color-fff{
    color: #fff;
  }
  .ft1{
    font-size: 45px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .ft2{
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .PdLft40{
    padding-left: 30px;
  }
  .HeaderBox{
    max-width: 800px;
    margin: 0 auto;
  }
  .HeaderBox .HdrT1{
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: 500;
  }
  .HeaderBox .HdrT2{
    margin-bottom: 45px;
    line-height: 1.5;
  }

  .MenuItem{
    position: relative;
  }
  .MenuItem::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    left: 0;
    top: 0;
  }
  .MenuItemDetails{
    padding: 15px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
  }
  .MenuItemTitle{
    font-size: 33px;
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .MenuItemLink {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #1c2b60;
    font-weight: 400;
    position: relative;
    padding: 10px 35px 10px 15px;
    font-size: 13px;
    line-height: 1;
  }
  .MenuItemLink::after {
    content: "";
    height: 18px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: 10px;
    width: 13px;
    background-image: url(../public/rightarrow.png);
  }
  .MenuItemLink:hover{
    background-color: #bf9b5f;
    color: #fff;
    border-color: #fff;
  }

  .MenuSlider .slick-next, .MenuSlider .slick-prev {
    width: 45px;
    height: 45px;
    z-index: 5;
    background: #fff;
    border-radius: 50%;
    display: none !important;
    margin-top: -25px;
  }
  .MenuSlider:hover .slick-next, 
  .MenuSlider:hover .slick-prev{
    display: inline-block !important;
  }
  .MenuSlider .slick-next::before, 
  .MenuSlider .slick-prev::before {
    content: "";
    width: 45px;
    height: 45px;
    background-size: 100% 100%;
    display: inline-block;
    opacity: 1;
  }
  .MenuSlider .slick-next::before{
    background-image: url(../public/btn-next.png);
  }
  .MenuSlider .slick-prev::before{
    background-image: url(../public/btn-back.png);
  }
  .MenuSlider .slick-dots {
    position: relative;
    bottom: auto;
    text-align: right;
    margin-top: 30px;
    margin-bottom: -20px;
  }
  .MenuSlider .slick-dots li button::before{
    content: none;
  }
  .MenuSlider .slick-dots li,
  .MenuSlider .slick-dots li button {
    height: auto;
    width: 40px;
  }
  .MenuSlider .slick-dots li button{
    background-color: #fff;
    height: 3px;
    padding: 0;
    opacity: 0.5;
  }
  .MenuSlider .slick-dots li.slick-active button{
opacity: 1;
  }
  .MenuSlider .slick-slide .SliderMenuItem{
    padding: 0px 8px;
    position: relative;
  }


  .ExploreMoreBtn {
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #bf9b5f;
    min-width: 195px;
    font-weight: 400;
    position: relative;
    padding: 10px 35px 10px 15px;
  }
  .ExploreMoreBtn::after {
    content: "";
    height: 22px;
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    background-image: url(../public/rightarrow.png);
  }
  .ExploreMoreBtn:hover{
    background-color: #bf9b5f;
    color: #fff;
    border-color: #fff;
  }
  .ProductGridWrap .ExploreMoreBtn{
    margin-top: 10px;
  }
  .ProductGrid{
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .ProductGrid::after{
    content: "";
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .ProductGridBottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    z-index: 2;
    text-transform: uppercase;
    line-height: 1.6;
    font-size: 18px;
  }
  .ProductGridTop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: #fff;
    z-index: 2;
  }
  .LikeBtn{
    width: 30px;
    height: 26px;
    background-size: 100% 100%;
    background-image: url(../public/like.png);
    cursor: pointer;
    margin-left: auto;
  }
  .ReviewRow{
    display: flex;
  }
  .ReviewColumn{
    width: 20px;
    height: 21px;
    background-size: 100% 100%;
    background-image: url(../public/whitereview.png);
    margin-right: 7px;
  }
  .ReviewColumn.gold{
background-image: url(../public/goldenreview.png);
  }
  .HomeBannerContent{
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 25px;
  }
  .HbCt1{
    font-size: 45px;
    margin-bottom: 15px;
  }
  .HbCt2{
    font-size: 65px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .HbCLink{
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 2px;
    transition: .4s;
    border: 2px solid transparent;
    display: inline-block;
    border-radius: 25px;
    background-color: #1c2b60;
    min-width: 195px;
    font-weight: 400;
    position: relative;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
    text-align: center;
  }
  .HbCLink:hover{
    border-color: #fff;
    color: #fff;
  }
  .CrT1{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  .RevRowFlex{
    display: flex;
  }
  .RevRowColumn{
    width: 26px;
    height: 27px;
    background-size: 100% 100%;
    background-image: url(../public/bluestar.png);
    margin-right: 10px;
  }
  .ReviewAddress{
    position: relative;
    padding-right: 50px;
  }
  .ReviewAddress::after{
    content: "";
    width: 30px;
  height: 29px;
    background-size: 100% 100%;
    background-image: url(../public/googleicon.png);
    position: absolute;
    top: 7px;
    right: 0;
  }
  .ReviewColumn1{
    margin: 0px 8px;
  }
  .ReviewItem{
    background-color: #F9F7F2;
    padding: 25px;
  }
  .ReviewItemT1{
    font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
  .ReviewItemT2 {
    font-size: 15px;
    margin-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 84px;
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .Rname{
    font-size: 18px;
  }
  .RLocation{
    color: #888888;
    font-size: 15px;
  }
  .ReviewSlider{
    margin-top: 40px;
  }
  .ReviewSlider .slick-dots li button::before{content: none;}
  .ReviewSlider .slick-dots li button ,
  .ReviewSlider .slick-dots li {
    width: 40px;
    height: auto;
    padding: 0;
  }
  .ReviewSlider .slick-dots li button{
    height: 3px;
    background-color: #B9B4B4;
  }
  .ReviewSlider .slick-dots{
    position: relative;
    bottom: auto;
    margin-top: 15px;
  }
  .ReviewSlider .slick-dots li.slick-active button{
background-color: #1D1D1B;
  }

  .ReviewSlider .slick-next, .ReviewSlider .slick-prev {
    width: 50px;
    height: 50px;
    z-index: 5;
    background: #fff;
    border-radius: 50%;
    display: none !important;
    margin-top: -25px;
  }
  .ReviewSlider:hover .slick-next, 
  .ReviewSlider:hover .slick-prev{
    display: inline-block !important;
    z-index: 5;
  }
  .ReviewSlider .slick-next::before, 
  .ReviewSlider .slick-prev::before {
    content: "";
    width: 45px;
    height: 45px;
    background-size: 100% 100%;
    display: inline-block;
    opacity: 1;
  }
  .ReviewSlider .slick-next::before{
    background-image: url(../public/btn-next.png);
  }
  .ReviewSlider .slick-prev::before{
    background-image: url(../public/btn-back.png);
  }
  .InstaItemBox::after{
    content: "";
    width: 100px;
    height: 26px;
    background-size: 100% 100%;
    background-image: url(../public/watermark.png);
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .InstaIcon{
    position: relative;
    padding-left: 45px;
  }
  .InstaIcon:after{
    content: "";
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    background-image: url(../public/instaicon.png);
    position: absolute;
    left: 0;
    top: 7px;
  }
  footer{
    background-color: #1d2e61;
  }
  .FooterBottomWrap{
    background-color: #000;
    color: #fff;
    padding: 20px 0px;
    font-size: 13px;
  }
  .FooterBottom{
    display: flex;
    justify-content: space-between;
  }
  .FooterBottom a{
    color: #fff !important;
  }
  footer img{
    background-color: #1b2b61;
  }
  .FtrT1{
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }
  .FtrLogoBx{
    max-width: 80%;
    margin: 0 auto;
  }
  .FtrT2{
    margin-bottom: 25px;
  }
  .FtrSocialMediaFlex{
    display: flex;
  }
  .FtrSocialIcon{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: 100% 100%;
  }
  .FtrSocialIcon.instagram{
    background-image: url(../public/finstagram.png);
  }
  .FtrSocialIcon.facebook{
    background-image: url(../public/ffacebook.png);
    width: 12px;
  }
  .FtrSocialIcon.linkedin{
    background-image: url(../public/flinkedin.png);
  }
  .FtrSocialIcon.twitter{
    background-image: url(../public/ftwitter.png);
  }
  .FtrSocialMediaFlex a{
    display: inline-block;
    margin-right: 25px;
  }
  .FooterLinksBox a{
    display: inline-block;
    margin-bottom: 10px;
  }
  .FooterLinksBox a:hover{
    color: #fff;
    opacity: 0.5;
  }
  .MobileHeaderFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .halo-sticky-toolbar-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0 0 9px #0000001f;
    transition: transform .6s;
    background: #fff;
    border: 1px solid #fff;
  }
  .bottom-bar {
    padding: 3px 15px;
    min-height: 60px;
  }
  .bottom-bar--list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }
  .bottom-bar--list li > a {
    padding: 7px 2px;
    display: block;
    pointer-events: auto;
    text-align: center;
    color: #1D1D1B;
  }
  
  .bottom-bar--list li{
    position: relative;
  }
  .bottom-bar--list .icon + .text {
    margin-top: 6px;
    line-height: 1;
    font-size: 11px;
  }
  .FtrIconH{
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    margin: 0 auto;
  }
  .bottom-bar--list li.activeLink::after{
    content: "";
    width: 120%;
    height: 3px;
    background-color: #bf9b5f;
    position: absolute;
    top: -4px;
    left: -10%;
  }
  .FtrIconH.home{
    background-image: url(../public/icons/fhome.png);
  }
  
  .FtrIconH.reserve{
    background-image: url(../public/icons/freservenow.png );
  }
  .FtrIconH.location{
    background-image: url(../public/icons/location.png );
  }
  .FtrIconH.order{
    background-image: url(../public/icons/fordernow.png );
  }
  .FtrIconH.whatsapp{
    background-image: url(../public/icons/fwhatsapp.png );
  }
  .FtrIconH.call{
    background-image: url(../public/icons/fcall.png );
  }
  .CommonHeader1 .sliderContent{
    max-width: 650px;
  }
  .MenuHeaderT1{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .MenuLinkItem{
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    margin: 35px 8px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
  }
  .MenuLinkItem:hover , 
  .MenuLinkItem.active{
    background-color: #bf9b5f;
  }
  .MenuBoxWrap{
    padding-bottom: 35px;
  }
  .MobileMenuListing .SliderMenuItem{
    overflow: hidden;
  }
  .MobileMargin1 .slick-list{
    margin: 0px 25px;
  }
  .MobileMargin1 .slick-prev {
    left: 0;
  }

  .MobileMargin1 .slick-next {
    right: 0;
  }
  .overlayr1::after{
content: "";
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background-color: rgba(255,255,255,0.1);
  }
  .overlayr1 .HomeBannerContent{
    z-index: 1;
  }
  @media only screen and (max-width: 960px) {
    .overlayr1::after{
      background-color: rgba(255,255,255,0.1);
    }
    .MobileMargin1 .slick-list{
      margin: 0px 0px;
    }
    html,
    body{
      overflow-x: hidden;
      font-size: 15px;
    }
    body {
      position: relative;
      overflow-x: hidden !important;
    }
    html {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      position: relative;
    }
    .MobileLogoBox{
      width: 130px;
    }
    header {
      background-color: #1c2b60 !important;
    }
    .HbT1{
      font-size: 26px;
    }
    .HbT2{
      font-size: 16px;
    }
    .layer2{
      padding: 15px;
    }
    .BannerBtns a {
      font-size: 15px;
      min-width: 180px;
      padding: 8px 35px 8px 8px;
    }
    .MobileMenuLink{
      width: 27px;
    }
    .HamberMenuLine{
      height: 2px;
      background-color: #fff;
      line-height: 1;
      border-radius: 20px;
      margin-bottom: 5px;
    }
    .HamberMenuLine.mid{
      width: 70%;
      margin-left: auto;
    }
    .MobileMenuLink .HamberMenuLine:last-child{
      margin-bottom: 0;
    }
    .SideNav {
      padding: 20px;
      display: block;
      width: 100%;
      background: #bf9b5f;
    }
    .ScrollPart{
      display: block;
    }
    .SideNavMiddle a:hover,
    .SideNavMiddle a.active {
      color: #1b2b61 !important;
      border-bottom: 2px solid #1b2b61;
      font-weight: 500;
    }
    .CloseBtn{
      right: 0;
    }
    .SideNavMiddle {
      padding: 0px;
      margin: 20px 0px;
    }
    .SideNavHeader{
      padding: 0;
    }
    .SideNavMiddle a{
      margin-bottom: 5px !important;
      display: inline-block !important;
      border-bottom: 2px solid;
    }
    .HdrRow1 .col-md-4{
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    .SideNavFooter{
      padding: 0;
    }
    .BannerBtns a::after{
      height: 17px;
      width: 16px;
    }
    .MobileLang a{
      position: relative;
      min-width: 65px;
      display: inline-block;
      color: #fff !important;
      line-height: 1;
    }
    .MobileLang a::after{
      content: "";
      width: 21px;
      height: 13px;
      background-size: 100% 100%;
      background-image: url(../public/uae.png);
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -5px;
    }
    .slick-dots li{
      margin: 0 8px;
    }
    .pd-common {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .PdLft40 {
      padding-left: 0;
    }
    .ProductGrids > .row{
      margin: 0 -10px;
    }
    .ProductGrids > .row >  .col-md-3{
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 5px;
    }
    .HeaderBox .HdrT1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .MenuItem{
      height: 180px;
    }
    .MenuSlider{
      margin: 0 -20px;
    }
    .HeaderBox .HdrT2 {
      margin-bottom: 20px;
      line-height: 1.4;
    }
    .MenuSlider:hover .slick-next, .MenuSlider:hover .slick-prev {
      display:none !important;
    }
    .MenuItem::after {
      background-color: rgba(255,255,255,0.4);
    }
    .MenuItemTitle {
      font-size: 23px;
      margin-bottom: 10px;
    }
    .MenuItemLink {
      padding: 8px 25px 8px 10px;
      font-size: 10px;
    }
    .MenuItemLink::after{
      
    }
    .MenuSlider .slick-slide .SliderMenuItem {
      padding: 0px 5px;
    }
    .MenuItemLink::after {
      height: 14px;
      right: 10px;
      top: 8px;
      width: 10px;
    }
    .ExpBtn{
      text-align: center;
      margin-top: 20px;
    }
    .ExploreMoreBtn {
      padding: 8px 25px 8px 10px;
    }
    .bg1.abtBoxHome{
      background-color: #003554;
    }
    .ProductGridTop .col-md-9{
      flex: 0 0 77%;
      max-width: 77%;
    }
    .ProductGridTop .col-md-3{
      flex: 0 0 23%;
      max-width: 23%;
    }
    
    .ReviewColumn {
      width: 14px;
      height: 16px;
    }
    .LikeBtn {
      width: 20px;
      height: 18px;
    }
    .ProductGridBottom .text-right{
      text-align: left !important;
    }
    .ProductGridBottom{
      font-size: 15px;
    }
    .ProductGrid{
      margin-bottom: 10px;
    }
    .PriceBox1{
      background: #bf9b5f;
      padding: 3px 5px;
      line-height: 1;
      border-radius: 3px;
    }
    .ProductGridBottom .col-md-8{
      margin-bottom: 8px;
      line-height: 1.4;
    }
    .ProductGridWrap .ExploreMoreBtn {
      margin-top: 0;
    }
    .ft1 {
      font-size: 24px;
      margin-bottom: 10px;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }
    .ft2 {
      margin-bottom: 10px;
      line-height: 1.4;
      text-align: center;
    }
    .MobileImage1,{
      margin-top: 15px;
    }
    .TxtBx2{
      margin-top: 20px;
    }
    .HbCt1 {
      font-size: 25px;
      margin-bottom: 15px;
      line-height: 1;
    }
    .HbCt2{
      font-size: 35px;
    }
    .HbCLink {
      min-width: 160px;
      padding: 10px;
    }
    .CrT1 {
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }
    .RevRowFlex {
      justify-content: center;
      margin-bottom: 15px;
    }
    .RevRowColumn {
      width: 23px;
      height: 24px;
    }
    .CrT2{
      text-align: center;
    }
    .ReviewSlider {
      margin-top: 20px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .ReviewSlider:hover .slick-next, .ReviewSlider:hover .slick-prev{
      display: none !important;
    }
    .ReviewItemT2{
      line-height: 1.4;
    }
    .Rname {
      font-size: 16px;
    }
    .ReviewAddress::after {
      content: "";
      width: 26px;
      height: 24px;
    }
    .ReviewColumn1 {
      margin: 0px 5px;
    }
    .ReviewItem{
      padding: 20px;
    }
    .InstaIcon{
      padding-left: 0;
    }
    .InstaIcon::after{
      content: none;
    }
    .InstaItemBox::after {
      content: "";
      width: 85px;
      height: 18px;
    }
    .ReviewItemT1{
      font-size: 16px;
    }
    .FtrLogoBx {
      max-width: 55%;
      margin-bottom: 20px;
    }
    .FtrT1 {
      font-size: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
    .FooterLinksBox .row{
      margin: 0 -5px;
    }
    .FooterLinksBox .col-md-6{
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 5px;
    }
    .FooterLinksBox a {
      display: block;
      margin-bottom: 10px;
      text-align: center;
      font-size: 14px;
    }
    .FooterLinksBox{
      margin-bottom: 20px;
    }
    .FtrT2 {
      margin-bottom: 30px;
      text-align: center;
    }
    .FtrSocialMediaFlex {
      justify-content: center;
    }
    .FooterBottomWrap {
      margin-bottom: 60px;
    }
    .FooterBottom {
      display: block;
      text-align: center;
      line-height: 1.5;
    }
    .SliderImage, .SliderItem{
      height: auto;
    }
    .MobileMenuListing {
      padding: 15px;
      padding-bottom: 0;
      padding-top: 0;
    }
    .MobileMenuListing .SliderMenuItem:first-child{
      margin-bottom: 15px;
    }
    .MenuHeaderT1 {
      font-size: 24px;
      margin-bottom: 10px;
      text-align: center;
    }
    .MobileMargin1{
      margin: 0 -20px;
    }
    .MenuLinkItem {
      color: #fff;
      border: 2px solid #fff;
      padding: 10px 18px;
      margin: 20px 4px;
      border-radius: 30px;
      text-align: center;
      cursor: pointer;
      font-size: 13px;
    }
  }